git+https://github.com/openai/whisper.git
jiwer == 2.5.1
numpy == 1.24
TensorFlow == 2.10.1
torch == 1.13.1
pandas == 1.5.2
torchaudio == 0.13.1|
tqdm == 2.2.3
DEVICE = "cuda" if torch.cuda.is_available() else "cpu"
os-sys == 2.1.4

